[submodule "tiles/chaosdorftiles"]
	path = tiles/chaosdorftiles
	url = https://github.com/telegnom/chaosdorftiles.git
[submodule "tiles/wa-matekiste"]
	path = tiles/wa-matekiste
	url = https://github.com/telegnom/wa-matekiste.git
[submodule "tiles/wa-tools"]
	path = tiles/wa-tools
	url = https://github.com/telegnom/wa-tools.git
[submodule "tiles/wa-stadtmobiliar"]
	path = tiles/wa-stadtmobiliar
	url = https://github.com/telegnom/wa-stadtmobiliar.git
